<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>EnterpriseIMServer</display-name>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>im.apiformobile.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>im.apiformobile.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateGroupServlet</servlet-name>
    <servlet-class>im.apiformobile.CreateGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateGroupServlet</servlet-name>
    <url-pattern>/CreateGroupServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <servlet-class>im.apiformobile.GetUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <url-pattern>/GetUserInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>